src/main/resources/schemas/permission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:security="http://registry.htrc.i3.illinois.edu/entities/security"
    targetNamespace="http://registry.htrc.i3.illinois.edu/entities/security"
    elementFormDefault="qualified">

    <complexType name="Permissions">
        <sequence>
            <element name="permission" type="string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="permissions" type="security:Permissions"/>
</schema>